body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  margin: 0px 0px 20px;
  border: none;
}

/* BuildingDetails.js layout styling */
.container-fixed-width {
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
}

.scrollable-column {
  overflow-y: auto;
  flex: 1;
  /* padding-right: 10px; */
  height: 100%;
}

.fixed-column {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  flex: 1;
  height: 100%;
}

.footer {
  margin-top: auto;
  background: #f8f9fa;
  padding: 10px;
  text-align: center;
}

@media (max-width: 980px) {
  .fixed-column {
    position: relative;
    top: 0;
    height: auto;
  }

  .scrollable-column {
    height: auto;
    overflow-y: visible;
  }
}

/* Street View Styling */
.street-view-container {
  height: 300px; /* Height set by Google Streetview API call */
  overflow: hidden; /* Hide overflow */
}

